.hallo{
    color: rgb(155, 226, 21);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav {
    background-color: #ccc;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    
    padding-top: 10px;
  }
  